body {
	font-family: Roboto;
	margin: 0 0.25em;
}
:root {
	--arrow-bg: rgba(255, 255, 255, 0.3);
	--arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
	--option-bg: white;
	--select-bg: rgba(255, 255, 255, 0.2);

	--light-shade: rgb(246 255 249 / 53%);
	--gray: #636e72;
	--light-gray: #b2bec3;
	--x-light-gray: #dfe6e9;
	--gradient: linear-gradient(#fdcb6e, #ffeaa7);
}
* {
	box-sizing: border-box;
}

#map-container {
	display: grid;
	grid-template-columns: repeat(29, 1fr);
	border-top: 1px solid black;
	border-left: 1px solid black;
}
#header-container {
	display: grid;
	grid-template-columns: 3fr 1fr 2fr;
	background: linear-gradient(35deg, green, turquoise);
}

#total-factions {
	padding: 1em;
}
/* <select> styles */
select,
input[type="number"] {
	/* Reset */
	appearance: none;
	border: 0;
	outline: 0;
	font: inherit;
	/* Personalize */
	width: 20rem;
	padding: 1rem 4rem 1rem 1rem;
	background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
		linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
	color: white;
	border-radius: 0.25em;
	box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
	cursor: pointer;
	/* Remove IE arrow */
	&::-ms-expand {
		display: none;
	}
	/* Remove focus outline */
	&:focus {
		outline: none;
	}
	/* <option> colors */
	option {
		color: inherit;
		background-color: var(--option-bg);
	}
}
input[type="number"] {
	background: linear-gradient(
		to left,
		var(--arrow-bg) 20em,
		var(--select-bg) 3em
	);
	padding-right: 1em;
	&:focus {
		outline: none;
	}
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

::placeholder {
	color: white;
}
/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

.opts {
	color: #079b02;
}
.cell {
	padding: 15px 0;
	border-bottom: 1px solid black;
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	position: relative;
	border-right: 1px solid black;
}
/* .cell:before {
	content: " ";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.6;
	background-image: url(../assets/icons/protest.png);
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: cover;
} */

span {
	font-size: 0.7em;
	font-weight: normal;
}

button {
	appearance: none;
	border: navajowhite;
	background: hsl(0 0 0/0);
	padding: 1em 1em;
	/* margin-bottom: 0.35em; */
	color: #079b02;
	transition: 1s;
	border-radius: 0.35em;
	font-weight: bold;
	font-size: 1em;
	&:hover,
	&:focus,
	&:active {
		background: #079b02;
		color: #fff;
		cursor: pointer;
	}
}

#legend {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2em;
}
section {
	display: flex;
	align-items: center;
	gap: 0.5em;
	background: var(--light-shade);
	color: var(--gray);
	padding: 0.7em;
	border-radius: 0.5em;
	box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.26);
}
input {
	cursor: pointer;
}

/*
	flexbox here to align the input
  */
label {
	font-size: 0.8em;
}
/* CORE STYLES */
input [type="checkbox"] {
	appearance: none;
	/* width: 1em;
	height: 1em; */
	border: 0.1em solid var(--light-gray);
	font: inherit;
	margin-bottom: -0.125em;

	border-radius: 0.25em;

	&:checked {
		border-color: transparent;
		background: var(--gradient) border-box;
		box-shadow: 0 0 0 0.1em inset var(--dark-gray);
	}
	&:not(:checked):hover {
		border-color: transparent;
		background: linear-gradient(var(--dark-gray), var(--dark-gray)) padding-box,
			var(--gradient) border-box;
	}
}

.center {
	text-align: center;
}
p {
	text-align: center;
	font-size: 0.85em;
}

.top-server {
	box-shadow: none;
}
.top-faction {
	box-shadow: none;
}

.visible-tf {
	box-shadow: inset rgb(255, 85, 113) 0px 0px 0px 4px,
		inset rgb(188, 27, 193) 0px 0px 0px 9px;
	z-index: 11;
}

.top-faction-legend {
	box-shadow: rgb(255, 85, 113) 0px 0px 0px 3px,
		rgb(188, 27, 193) 0px 0px 0px 6px;
	z-index: 11;
}
.visible-ts,
.top-server-legend {
	background: rgb(26, 0, 199) !important;
	background: radial-gradient(
		circle,
		rgba(26, 0, 199, 1) 0%,
		rgba(127, 0, 236, 1) 100%
	) !important;
	color: #fff;
}

.heat-map-legend {
	background: linear-gradient(
		90deg,
		rgba(226, 56, 114) 0%,
		rgba(226, 216, 114) 100%
	);
}
.main-server {
	box-shadow: inset rgb(85, 91, 255) 0px 0px 0px 4px,
		inset rgb(31, 193, 27) 0px 0px 0px 8px,
		inset rgb(255, 217, 19) 0px 0px 0px 12px;
}

.ts-span {
	margin-left: 20em;
	color: #1a00c7;
	padding: 11.5em;
	font-size: 1px;
	position: relative;
	top: -4px;
}

.rebel {
	background: url(../assets/icons/protest.png) no-repeat center bottom;
	background-size: 20px;
}

a {
	font-size: 0.75em;
	color: #333;
	text-align: center;
}

.hidden {
	display: none;
}

.sub-faction {
	font-style: italic;
	font-size: 0.8em;
}

.faction-leader {
	background: rgb(255, 255, 255) !important;
	background: radial-gradient(
		circle,
		rgba(255, 255, 255, 0) 0%,
		rgba(102, 251, 71, 1) 100%
	) !important;
}

#footer {
	display: grid;
	margin: 0.5em;
	padding: 0;
}

#footer p {
	margin: 0;
	text-align: center;
}
#heat-map-index {
	display: grid;
}

#heat-map-index div {
	text-align: center;
	border: 1px solid black;
}
