body {
  font-family: Roboto;
}
#map-container {
  display: grid;
  grid-template-columns: repeat(29, 1fr);
}
.cell {
  padding: 15px 0;
  border: 1px solid;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}
#s779 {
  background-color: chartreuse;
}
span {
  font-size: 0.7em;
  font-weight: normal;
}
input[type="number"] {
  appearance: none;
  border: none;
  outline: none;
  border-bottom: 0.2em solid #079b02;
  border-radius: 0.2em 0.2em 0 0;
  padding: 0.4em;
  color: #079b02;
  width: 10%;
  font-size: 1.15em;
  font-weight: bold;
}

button {
  appearance: none;
  border: 0.25em solid #079b02;
  background: hsl(0 0 0/0);
  padding: 0.75em 1.5em;
  margin-bottom: 0.35em;
  color: #079b02;
  transition: 1s;
  &:hover,
  &:focus,
  &:active {
    background: #079b02;
    color: #fff;
    cursor: pointer;
  }
}

.center {
  text-align: center;
}
p {
  text-align: center;
  font-size: 0.85em;
}
.main-server {
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px,
    rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px;
  z-index: 11;
}